section{
		width: 420px;
		margin: 0 auto;
	}
	#root{
		height: 400px;
		width: 1000px;
		margin:40px auto;
	}
	div{
		display:flex;
		justify-content:space-around;
		flex-direction:row;
		align-items:center;
		border:1px solid #000;
	}
	div[class^="first"]{
		height: 360px;
	}
	div[class$="L"]{
		width: 300px;
	}
	div[class$="M"]{
		width: 500px;
	}
	div[class$="R"]{
		width: 100px;
	}
	.second{
		height: 220px;
		width: 260px;
	}
	.third{
		height: 180px;
		width: 50px;
	}
	.four{
		height: 220px;
		width: 80px;
	}