*{
	margin:0;
	padding: 0;
}
.wrap{
	cursor:pointer;
	position: relative;
	margin: 30px auto;
	height: 400px;
	width: 600px;
}
.wrap img{
	position:absolute;
	height: 100%;
	width:100%;
	z-index: -1;
}
.content{
	position: absolute;
	top:50%;
	left:50%;
	margin-top: -160px;
	margin-left: -240px;
	height: 80%;
	width:80%;
}
.content p{
	font-size: 50px;
	text-align: center;
	padding-top:25%;
	visibility: hidden;
	background-image:-webkit-linear-gradient(left, #f00, #0f0 25%, #00f 50%, #0f0 75%, #f00 100%);
	color:transparent;
	-webkit-text-fill-color:transparent;
	background-clip: text;
	background-size:200% 100%;
	animation:streaming 3s infinite linear;
}
@keyframes streaming{
	0%{
		background-position:0 0 ;
	}
	100%{
		background-position: -100% 0;
	}
}
.content::before{
	content:"";
	position:absolute;
	top:50%;
	left:0;
	box-sizing:border-box;
	width:100%;
	height: 0;
	border:3px solid #fff;
	border-width: 0 3px;
	overflow: hidden;
	visibility: hidden;
	transition: 0.6s;
}
.content::after{
	content:"";
	position:absolute;
	top:0;
	left:50%;
	box-sizing:border-box;
	width:0;
	height: 100%;
	border:3px solid #fff;
	border-width:3px 0;
	overflow: hidden;
	visibility: hidden;
	transition: 0.6s;
}
.wrap:hover img{
	filter:blur(2px);
}
.wrap:hover .content::before{
	height: 100%;
	visibility: visible;
	top:0;
}
.wrap:hover .content::after{
	width: 100%;
	visibility: visible;
	left: 0;
}
.wrap:hover p{
	visibility: visible;
}