*{
	margin:0;
	padding:0;
}
#container{
	width:500px;
	margin:20px auto;
}
input{
	display: none;
}
label{
	cursor:pointer;
	display: block;
	width:500px;
	height: 35px;
	border-radius: 5px;
	background-color: #ccc;
	color:#fff;
	font-style: 20px;
	text-indent: 1em;
	line-height: 35px;
	margin-top: 1px;
}
.accordionItem{
	box-sizing:border-box;
	height: 0px;
	width:500px;
	font-size: 14px;
	text-indent: 2em;
	visibility:hidden;
	transition: 0.5s height linear;
}
p{
	padding-top: 3px;
	padding-left:10px;
	padding-right: 10px;
}
input:hover + label{
	background-color: #aaa;
}
input:checked + label{
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
input:checked + label + .accordionItem{
	height: 100px;
	visibility:visible;
	border: 1px solid #ccc;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius:5px;
}